%h1 Listing questions

%table
  %thead
    %tr
      %th Create
      %th Edit
      %th Update
      %th Destroy
      %th
      %th
      %th

  %tbody
    - @questions.each do |question|
      %tr
        %td= question.create
        %td= question.edit
        %td= question.update
        %td= question.destroy
        %td= link_to 'Show', question
        %td= link_to 'Edit', edit_question_path(question)
        %td= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Question', new_question_path
