%p#notice= notice

%p
  %b Create:
  = @question.create
%p
  %b Edit:
  = @question.edit
%p
  %b Update:
  = @question.update
%p
  %b Destroy:
  = @question.destroy

= link_to 'Edit', edit_question_path(@question)
\|
= link_to 'Back', questions_path
